.page-builder {
  display: inline-block;
  height: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 2rem;
  overflow-y: auto;
}

.page-builder > div {
  min-width: 250px;
  max-width: 1000px;
}
