body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  position: absolute;
  overflow-y: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.form-field,
.label,
.react-slidedown,
.section-header {
  display: block;
}

.form-field+.form-field,
.form-field+.label,
.react-slidedown+.label,
.react-slidedown+.form-field,
.label+.label {
  margin-top: 1rem;
}

@media screen and (max-width: 800px) {

  textarea.form-field,
  input.form-field {
    max-width: 200px;
  }
}